/*----------- Whole webite modoifiers -------------*/
body{
	margin: 0;
}

html{
	font-size: 100%;
	line-height: 1.3;
}

main{
	margin: 10px;
}
/*------------------ W W M s end ------------------*/

/*-------------------- Header ---------------------*/
header{
	background-color: #99CCFF;
	text-align: center;
	display:block;
	padding: .25em;
}

h1{
	margin: 0;
	display: inline;
	font-size: 1.75rem;
	overflow: hidden;
}

img.logo{
	float: left;
	width: 10%;
	border:none;
	display: inline-block;
}

a.button{
	float: right;
	color: #000;
	padding: 0.25rem;
	display: inline;
	background-color: #0099FF; 
	border-radius: 8px;
}
/*------------------ Header end ------------------*/


/*------------ Introduction Art and Text ---------*/
img.panorama{
  padding: 0;
  margin: 0;
  width: 100%;
}

h2.Seven-Wonders{
	clear:both;
}

div.wondersandtext{
	position: absolute;
	top: 120px;
	color: #fff;
	clear: both;
}

img{
 border: 0.2rem solid #000033;
}

img.wonders{
	width: 100%;
	position: relative;
}
/*--------- Introduction Art and Text End --------*/

/*----------------- Main Website -----------------*/
.wonders div{
	background: url("../images/wonders.jpg") no-repeat center / cover;
	padding-top: 36.61%;
	
	text-align: center;
	color: #fff;
	text-shadow: 0px 0px 0px rgba(255, 255, 255, 1);
}

.panorama h2{
	margin: 0;
	color: #FFF;
	padding: 10px;
}

h3{
	background-color: #99CCFF;
	padding: 10px; 
	background-color: none;
	margin: 0;
	display: block;
	border-radius: 10px;
}

nav li {
   float: left;
   display: inline-block;}

a {
  text-decoration: none;
 }

.buttons a{
	width: 100%;
}

.left span{
	width:30%;
	float:left;
}

nav li{
  width: 25%;
  background-color: #0099FF; 
  text-align: center;
  padding-top: 1rem;
  height: 3rem; }

nav ul{
  overflow: hidden;
  margin: auto;
  width: 100%;
  padding: 0;}

a:hover{
	color:#cc3865;
	background-color: #fff;}

img.maroti{
	margin-top: 1rem;
}


.panorama p{
	padding:0px  10px 10px 10px;
}

dt{
	float:left;
}

img{
	width: 100%;
}

.schedule li{
	list-style: none;
	margin-bottom: 1rem;
}

.schedule ul{
	padding: 0;
}
/*--------------- Main Website End ----------------*/

/*-------------------- Footer ---------------------*/
footer{
	background-color: #FFFFCC;
	clear: both;
	margin: 0;
	padding: 10px;
}

nav{
	display: block;
}
/*------------------ Footer End -------------------*/
